body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f9f9f9;
  overflow: hidden;
}

#editor-container {
  margin-top: 5vh;
  flex: 0 0 35%; /*2/5 of the screen size*/
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  transition: all 0.4s ease;
}

#canvas-container {
  background-color: #000;
  flex: 0 0 65%;
  transition: all 0.4s ease;
}

/* Fullscreen mode */
.fullscreen {
  flex: 1 1 100%;
  width: 100vw;
  height: 100vh;
}

#prompt {
  background-color: #f9f9f9;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

#prompt h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #333;
}

#prompt ul {
  margin: 0;
  padding-left: 20px;
}

#prompt li {
  margin: 4px 0;
  font-size: 14px;
  color: #444;
  list-style-type: dot; /* replaces the default dot with a dash */
}

#editor {
  flex: 1;
}

#toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 6px 12px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#toggle:hover {
  background-color: #444;
}

.highlight{
  font-weight: bold;
  color: rgb(147, 135, 22);
  font-size: 18px;
}